<div class= "row">

  <div class= "col-md-7">
    <div class="card card-block">
      <% if @document.title? %>
        <h4 class="card-title"><%= @document.title %></h4>
      <% end %>
      <% if @document.author? %>
        <h6 class="card-title">Artist: <%= @document.author %></h4>
      <% end %>
      <%= simple_format @document.content, html_options={}, options={} %>
    </div>


    <div class= "row">
      <div class= "col-md-6">
      <h5>Flag Song?</h5>
      <%= form_for shallow_args(@document, @flag) do |f| %>
        <div class="form-group">
          <label class="form-label">Reasoning</label>
          <%= f.text_area :reasoning, class:"form-control", rows: 4 %>
        </div>
        <div class="actions">
          <%= f.submit "Submit", class: "btn btn-primary" %>
        </div>
      </div>
    </div>

    <% end %>

  </div>

  <div class= "col-md-3">
    <div class="row">
      <button class="btn btn-primary" id="interface-toggle">Toggle Interface</button>
    </div>

    <% if false %>
    <div class="basic-interface" style="display:none">
      <%= form_for @document, url: responses_document_path do |f| %>

          <%= render 'questions/multi_value_number_simple', f: f %>

          <div class="actions">
            <%= f.submit "Submit", class: 'btn' %>
          </div>
      <% end %>
    </div>
    <% end %>

    <div>
      <%= form_for @document, url: responses_document_path do |f| %>

        <% @document.questions.each do |question| %>
          <%= render "questions/#{question.question_type}", f: f, question: question %>
        <% end %>

        <div class="actions">
          <%= f.submit "Submit", class: 'btn' %>
        </div>

      <% end %>
    </div>

  </div>

  <div class= "col-md-2">
    <%= link_to 'Random Song', [@document.next], class: "btn btn-primary" %>
  </div>
</div>


